@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", serif;
}

:root {
  --primary: #005f5a;
  --secondary: #14b8a6;
  --tertiary: #a7f3d0;
  --error: #ef4444;
  --warning: #f59e0b;
  --success: #16a34a;
  --white: #ffffff;
  --black: #000000;
  --grey: #e7e5e4;
}
